<!DOCTYPE html>
<html>
  <head>
    <title>Hogwarts</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>
  <nav>
    <a href="/students">Students</a> // 
    <a href="/houses">Houses</a>
  </nav>

    <%= yield %>
  </body>
</html>